*{
    font-family: 'Raleway', sans-serif;
    z-index: 0;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-justify : inner-word;
}

body{
	height: 100%;
	width: 100vw;
  cursor: url("../images/pointer.png"), auto;
  position: fixed;
  top: 0;
  bottom: 0;
}

/*Comic Strip*/
.stripcontainer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900000;
	background: #fff;
  height:800px;
  padding:0 10px;
  overflow:hidden;
}
.stripimg {
   max-width: 100%;
   display:inline-block;
   overflow: hidden;
 }
 /*Home Page*/
#pages {
	display: block;
}
canvas#canvas{
   margin-top: -12rem;
}
.abbtn {
	position: absolute;
	top: 0;
	left: 0;
}
#homepage{
	position: absolute;
	top: 0;
	right: 0;
	width: 100vw;
	height: auto;
	transition: right 2s;
}

#content {
	position: relative;
	height: 100vh;
	width: 100vw;
	right: 0vw;
	transition: right 2s;
	background: linear-gradient(rgba(82,201,251,1),rgba(122,213,252,0.1),rgba(255,0,0,0));
}

.img {
   max-width: 100%;
   display:inline-block;
}

.static {
	display: block;
	position: absolute;
	height: 50vh;
	bottom: 10vh;
	left: 5vw;
	z-index: 1000;
}

.active {
	display: none;
	position: absolute;
	height: 50vh;
	bottom: 10vh;
	left: 5vw;
	z-index: 1000;
}

.bottle {
	position: absolute;
	bottom: 8%;
	left: 50%;
	transition: transform 2s, bottom 2s;
	z-index: 1000;
	width: 6%;
}

.bottlehover {
	transform: scale(1.2);
	bottom: 6%;
}

.starfish {
	position: absolute;
	bottom: 5%;
	right: 35%;
	width: 4.5%;
	z-index: 996;
	transition: transform 2s;
}

.lamp{
  width: 4%;
  bottom: 5%;
  position: absolute;
  left: 40%;
  z-index: 1001;
	transition: transform 2s;
}

.winnie {
	position: absolute;
	bottom: 8%;
	width: 22%;
	right: 8%;
	z-index: 1001;
	transition: transform 2s, right 2s;
}

.winniehover {
	right: 4.5%;
	transition: scale(1.2);
}

.castle {
	position: absolute;
	bottom: 18%;
	width: 12%;
	z-index: 1000;
	transition: transform 2s, left 2s;
	left: 26vw;
}

.castlehover {
	left: 23vw;
	transform: scale(1.2);
}

.leftplant {
	height: 50vh;
	top: 5%;
	left: -7%;
	position: absolute;
	z-index: 1000;
	transition: transform 2s;
}

.boat {
	position: absolute;
	right: 20%;
	width: 5%;
	z-index: 1001;
    animation-name: boat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    transition: transform 2s, bottom 2s;
}
@keyframes boat {
	0% {
		bottom: 42%;
	}
	50% {
		bottom: 43%;
	}
	100% {
		bottom: 42%;
	}
}
.boathover {
	bottom: 45%;
	transform: scale(1.2);
}

.chipmunk{
	width: 10%;
	bottom: 0%;
	z-index: 1001;
	position: absolute;
	right : 5%;
	transition: transform 2s, right 2s;
}

.chipmunkhover {
	right: 0%;
}

.tweety {
	top: 6%;
	left: 0%;
	z-index: 1002;
	width: 5%;
	position: absolute;
}

.jungle{
	width: 17%;
	z-index: 1001;
	position: absolute;
	top: 9%;
	left: -3%;
	transition: transform 2s, top 2s;
}

.junglehover {
	top: 7%;
	transform: scale(1.2);
}

.tape {
	width: 5%;
	z-index: 1000;
	position: absolute;
	bottom: 15%;
	left: 3%;
	transition: transform 2s;
}
.shinchan {
	width: 9%;
	z-index: 1001;
	position: absolute;
	bottom: 8%;
	left: 18%;
	transition: transform 2s, left 2s;
}
.shinchanhover {
	left: 9%;
	transform: scale(1.2);
}
.sun {
	width: 8%;
	position: absolute;
	bottom: 43%;
	left: 25%;
	z-index: -1;
	transition: transform 2s, left 2s, bottom 2s;
}
.sunhover {
	left: 20%;
	transform: scale(1.2);
	bottom: 50%;
}
.baloon {
  	position: absolute;
  	z-index: 1001;
  	width: 10%;
    animation-name: baloon-anim;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    transition: transform 2s;
}
@keyframes baloon-anim{
  0% {
    top: 2%;
    right: 56%;
  }
  50% {
    top: 6%;
    right: 54%;
  }
  100% {
    top: 2%;
    right: 56%;
  }

}
}
.bird {
	bottom: 35%;
	width: 5%;
	position: absolute;
  	animation-name: bird-anim;
  	animation-duration: 12s;
  	animation-iteration-count: infinite;
  	animation-timing-function: linear;
  	animation-direction: normal;
  	z-index: 999;
	transition: transform 2s;
}
@keyframes bird-anim {
	0% {
		left: -21vw;
	}
	50% {
		left: -21vw;
	}
	100% {
		left: 100vw;
	}
}
.bird_left {
	bottom: 35%;
	width: 6%;
	position: absolute;
  	animation-name: bird-anim_left;
  	animation-duration: 12s;
  	animation-iteration-count: infinite;
  	animation-timing-function: linear;
  	animation-direction: normal;
  	z-index: 999;
	transition: transform 2s;
}
@keyframes bird-anim_left {
	0% {
		right: -56vw;
	}
	50% {
		right: 101vw;
	}
	100% {
		right: 101vw;
	}
}
.pikachu {
	position: absolute;
	bottom: 30%;
	height: 10%;
  	animation-name: pikachu;
  	animation-duration: 12s;
  	z-index: 999;
  	animation-iteration-count: infinite;
  	animation-timing-function: linear;
  	animation-direction: normal;
	transition: transform 2s;
}
@keyframes pikachu {
	0% {
		left: -15vw;
	}
	50% {
		left: -15vw;
	}
	100% {
		left: 111vw;
	}
}
.pikachu_left {
	position: absolute;
	bottom: 30%;
	height: 10%;
  	animation-name: pikachu_left;
  	animation-duration: 12s;
  	z-index: 999;
  	animation-iteration-count: infinite;
  	animation-direction: normal;
  	animation-timing-function: linear;
  	transition: transform 2s;
}
@keyframes pikachu_left {
	0% {
		right: -50vw;
	}
	50% {
		right: 111vw;
	}
	100% {
		right: 111vw;
	}
}
.plane {
	position: absolute;
	width: 100px;
	top: 3%;
  animation-name: plane;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
}
@keyframes plane {
	0% {
		left: -200px;
	}
	100% {
		left: 105vw;
	}
}
.vidloader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(247,247,249);
  z-index: 1000000;
}
.gif {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.roadrunner {
	position: absolute;
	bottom: 50px;
	height: 10vw;
  animation-name: roadrunner;
  animation-duration: 12s;
  z-index: 1000;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}
@keyframes roadrunner {
	0% {
		right: -50vw;
	}
	50% {
		right: 105vw;
	}
	100% {
		right: 105vw;
	}
}
#view {
	position: absolute;
	width: 100vw;
	max-height: 90vh;
	height: 100%;
	bottom: 0;
	left: 0;
	z-index: 20;
}
.island {
	position: absolute;
	width: 100vw;
	height: auto;
	left: 0;
	bottom: 0;
	transition: transform 2s;
	z-index: 2;
}
.zealicon {
	position: absolute;
	bottom: 40%;
	width: 48vw;
	height: auto;
	transition:top 2s, transform 2s ;
	z-index: 2;
	left: 70%;
	transform: translateX(-50%);
}
.zealiconhover {
	transform:  translateX(-50%) scale(1.2);
	bottom: 45.3%;
}
.water {
	position: absolute;
	left: 0;
	bottom: 0;
	transition: transform 2s;
}
.grass1 {
	position: absolute;
	left: 0%;
	z-index: 1005;
	height: 100vh;
	width: 100%;
	transition: left 2s linear, transform 2s;
}
.grass2 {
	position: absolute;
	left:  0%;
	z-index: 1005;
	height: 100vh;
	width: 100%;
	transition: left 2s linear, transform 2s;
}
.grass1Hover {
	left: -110%;
	transform: scale(1.2);
}
.grass2Hover {
	left: 110%;
	transform: scale(1.2);
}
.grass3{
  position: absolute;
  left: 18%;
  z-index: 1006;
  /*height: 100vh;*/
  width: 70%;
  transition: left 2s linear, transform 2s;
}
.grass3Hover {
  left: -110%;
  transform: scale(1.2);
}

.ab{
  background: rgba(0,0,0,0.8);
  margin: 0% 15%;
  padding: 5% 0%;
}

.islandHover {
	transform: scale(1.2);
}

.sky{
	position: absolute;
	top: 0;
	left: 0;
	height: 50vh%;
	width: 100vw;
}

.cloud1 {
	top: 60px;
	width: 150px;
	position: absolute;
	animation: cloud-move1 60s linear infinite;
	animation-direction: normal;
}
.cloud2 {
	top: 30px;
	position: absolute;
	animation: cloud-move5 46s linear infinite;
	animation-direction: normal;
}
.cloud3 {
	top: 17px;
	width: 90px;
	position: absolute;
	animation: cloud-move3 70s linear infinite;
	animation-direction: normal;
}
.cloud4 {
	top: 28px;
	position: absolute;
	animation: cloud-move4 56s linear infinite;
	animation-direction: normal;
}
.cloud5 {
	top: 13px;
	width: 70px;
	position: absolute;
	animation: cloud-move2 50s linear infinite;
	animation-direction: normal;
}


.home-map {
	position: absolute;
	bottom: 8vh;
	left: 18vw;
	z-index: 3;
	width: 100px;
}

@keyframes cloud-move1 {
	from {
		right: -400px;
	}
	to {
		right: 110vw;
	}
}
@keyframes cloud-move5 {
	from {
		right: -5vw;
	}
	to {
		right: 110vw;
	}
}
@keyframes cloud-move2 {
	0% {
		right: 50vw;
	}
	50% {
		right: 100vw;
	}
	50.00000001%{
		right: -150px;
	}
	100% {
		right: 50vw;
	}
}
@keyframes cloud-move3 {
	0% {
		right: 40vw;
	}
	50% {
		right: 110vw;
	}
	50.00000001%{
		right: -150px;
	}
	100% {
		right: 40vw;
	}
}
@keyframes cloud-move4 {
	0% {
		right: 80vw;
	}
	50% {
		right: 110vw;
	}
	50.00000001%{
		right: -150px;
	}
	100% {
		right: 80vw;
	}
}

.glow{
	animation:pulse 1.5s infinite;
	filter: drop-shadow(5px 5px 5px #222);
}

@keyframes pulse{
	0% {
    	filter: drop-shadow(5px 5px 8px #222);
	}

	50% {
	    filter: drop-shadow(5px 5px 6px #222);
	}

	100% {
    	filter: drop-shadow(5px 5px 8px #222);
	}
}


.birds {
	position: absolute;
	z-index: 999;
	width: 13%;
  	animation-name: birds-anim;
  	animation-duration: 50s;
  	animation-iteration-count: infinite;
  	animation-timing-function: ease-in-out;
  	animation-direction: normal;
}

@keyframes birds-anim {
	0% {
		left: 28%;
		top: 35%;
	}
	50% {
		left: 5%;
		top: -5%;
	}
	100% {
		left: 28%;
		top: 35%;
	}
}

.skip{
	padding: 5px 16px;
	position: fixed;
	bottom: 2%;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	border-radius: 5px;
	text-decoration: none;
	font-size: 15px;
	font-weight: 500;
	color: #000;
	z-index: 1000000000;
} 

