
*{
    font-family: 'Raleway', sans-serif;
    z-index: 0;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-justify : inner-word;
}
.castle {
	position: absolute;
	bottom: 10%;
	width: 12%;
	z-index: 1000;    
	transform: scaleX(-1);
	transition: transform 2s, right 2s;
	right: 17vw;
}

.castlehover {
	right: 12vw;
	transform: scaleX(-1.2) scaleY(1.2);
}

.leftplant {
	height: 75vh;
	top: 10%;
	left: -15%;
	position: absolute;
	z-index: 1000;	
	transition: transform 2s;
}

.chipmunk{
	width: 10%;
	bottom: 0%;
	z-index: 1001;
	position: absolute;
	right : 5%;
	transition: transform 2s, right 2s;
}

.chipmunkhover {
	right: 0%;
}

.tweety {
	top: 6%;
	left: 0%;
	z-index: 1002;
	width: 5%;
	position: absolute;
}

.jungle{
	width: 17%;
	z-index: 1001;
	position: absolute;
	top: 9%;
	left: -3%;
	transition: transform 2s, top 2s;
}

.junglehover {
	top: 7%;
	transform: scale(1.2);
}

.tape {
	width: 5%;
	z-index: 1000;
	position: absolute;
	bottom: 15%;
	left: 5%;
	transition: transform 2s;
}
.shinchan {
	width: 13%;
	z-index: 1000;
	position: absolute;
	bottom: 8%;
	left: 18%;
	transition: transform 2s, left 2s;
}

.shinchanhover {
	left: 11%;
	transform: scale(1.2);
}

.baloon {
	position: absolute;
	z-index: 1001;
	width: 10%;
    animation-name: baloon-anim;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    transform: scaleX(-1);
}

@keyframes baloon-anim{
	0% {
		top: 5%;
		right: 15%;
	}
	50% {
		top: 9%;
		right: 17%;
	}
	100% {
		top: 5%;
		right: 15%;
	}

}

.bird {
	bottom: 35%;
	width: 5%;
	position: absolute;
    animation-name: bird-anim;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    z-index: 1000;
	transition: transform 2s;
}

@keyframes bird-anim {
	0% {
		left: -21vw;
	}
	50% {
		left: -21vw;
	}
	100% {
		left: 100vw;
	}
}


.pikachu {
	position: absolute;
	bottom: 30%;
	height: 12vh;
    animation-name: pikachu;
    animation-duration: 12s;
    z-index: 1000;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
	transition: transform 2s;
}

@keyframes pikachu {
	0% {
		left: -15vw;
	}
	50% {
		left: -15vw;
	}
	100% {
		left: 111vw;
	}
}


.plane {
	position: absolute;
	width: 100px;
	top: 3%;
    animation-name: plane;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}

@keyframes plane {
	0% {
		left: -200px;
	}
	15% {
		left: -200px;
	}

	85% {
		left: 110vw;
	}
	100% {
		left: 110vw;
	}
}

.vidloader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(247,247,249);
  z-index: 1000;
}
.gif {
	position: absolute;
  height: 60vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

body{
	height: 100vh;
	width: 100vw;
    cursor: url("../images/pointer.png"), auto;
}

#pages {
	display: block;
}

.abbtn {
	position: absolute;
	top: 0;
	left: 0;
}

#homepage{
	position: absolute;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100%;
	transition: right 2s;
}

#content {
	position: relative;
	height: 100vh;
	width: 100vw;
	right: 0vw;
	transition: right 2s;
	background: linear-gradient(rgba(82,201,251,1),rgba(122,213,252,0.1),rgba(255,0,0,0));
}

.img {
   max-width: 100%; 
   display:inline-block;
}




.static {
	display: block;
	position: absolute;
	height: 50vh;
	bottom: 10vh;
	left: 5vw;
	z-index: 1000;
}

.active {	
	display: none;
	position: absolute;
	height: 50vh;
	bottom: 10vh;
	left: 5vw;
	z-index: 1000;
}

.roadrunner {
	position: absolute;
	bottom: 50px;
	height: 10vw;
    animation-name: roadrunner;
    animation-duration: 12s;
    z-index: 1000;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}
@keyframes roadrunner {
	0% {
		right: -50vw;
	}
	50% {
		right: 105vw;
	}
	100% {
		right: 105vw;
	}
}

#view {
	position: absolute;
	width: 100vw;
	max-height: 90vh;
	height: 100%;
	bottom: 0;
	left: 0;
	z-index: 20;
}

.island {
	position: absolute;
	width: 100vw;
	height: auto;
	left: 0;
	bottom: 0; 
	transition: transform 2s; 
	z-index: 2;	
}

.zealicon {
	position: absolute;
	bottom: 40%;
	width: 35vw;
	height: auto;
	transition:bottom 2s, transform 2s ; 
	z-index: 2;	
	left: 50%;
	transform: translateX(-50%);
}

.zealiconhover {
	transform:  translateX(-50%) scale(1.2);
	left: 50%;
	bottom: 47%;
}

.water {
	position: absolute;
	left: 0;
	bottom: 0; 
	transition: transform 2s; 
}
.grass1 {
	position: absolute;
	left: 0%;
	z-index: 1005;
	height: 100vh;
	width: 100%;
	transition: left 2s linear, transform 2s;
}

.grass2 {
	position: absolute;
	left:  0%;
	z-index: 1005;
	height: 100vh;
	width: 100%;
	transition: left 2s linear, transform 2s;
}

.grass1Hover {
	left: -110%;
	transform: scale(1.2);
}
.grass2Hover {
	left: 110%;
	transform: scale(1.2);
}

.islandHover {
	transform: scale(1.2);
}

.sky{
	position: absolute;
	top: 0;
	left: 0;
	height: 50vh%;
	width: 100vw;
}

.cloud1 {
	top: 60px;
	width: 150px;
	position: absolute;
	animation: cloud-move1 60s linear infinite;
	animation-direction: normal;
}
.cloud2 {
	top: 30px;
	position: absolute;
	animation: cloud-move5 46s linear infinite;
	animation-direction: normal;
}
.cloud3 {
	top: 17px;
	width: 90px;
	position: absolute;
	animation: cloud-move3 70s linear infinite;
	animation-direction: normal;
}
.cloud4 {
	top: 28px;
	position: absolute;
	animation: cloud-move4 56s linear infinite;
	animation-direction: normal;
}
.cloud5 {
	top: 13px;
	width: 70px;
	position: absolute;
	animation: cloud-move2 50s linear infinite;
	animation-direction: normal;
}


.home-map {
	position: absolute;
	bottom: 8vh;
	left: 18vw;
	z-index: 3;
	width: 100px;
}

@keyframes cloud-move1 {
	from {
		right: -400px;
	}
	to {
		right: 110vw;
	}
}
@keyframes cloud-move5 {
	from {
		right: -5vw;
	}
	to {
		right: 110vw;
	}
}
@keyframes cloud-move2 {
	0% {
		right: 50vw;
	}
	50% {
		right: 100vw;
	}
	50.00000001%{
		right: -150px;
	}
	100% {
		right: 50vw;
	}
}
@keyframes cloud-move3 {
	0% {
		right: 40vw;
	}
	50% {
		right: 110vw;
	}
	50.00000001%{
		right: -150px;
	}
	100% {
		right: 40vw;
	}
}
@keyframes cloud-move4 {
	0% {
		right: 80vw;
	}
	50% {
		right: 110vw;
	}
	50.00000001%{
		right: -150px;
	}
	100% {
		right: 80vw;
	}
}
