@import url(http://fonts.googleapis.com/css?family=Lato:100,400,700,900);

html { height: 100%; font-size: 100%;}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #f9f9f9;
    font-weight: 400;
    font-size: 1em;
    color: #333;
    overflow: scroll;
    overflow-x: hidden;
}

a {
	color: #555;
	text-decoration: none;
}

.container {
	width: 100%;
	position: relative;
}

.main,
.container > header {
	width: 90%;
	max-width: 76em;
	margin: 0 auto;
	padding: 0 1.875em 3.125em 1.875em;
}

.container > header {
	padding: 1.875em;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0;
	font-weight: 700;
	color: #333;
	float: left;
}

.container > header h1 span {
	display: block;
	font-size: 65%;
	font-weight: 300;
}


.row{
	display: inline-flex;
}
.jumbotron.bigBox{
  color: black;
  background-color: #ffeb3b;
  width: 90%;
  margin: 5rem 4rem;
  border-radius: 10px;
  height: 80rem;
  position: relative;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.jumbotron.smallBox{
  background-color: #5f9fb1;
  color: white;
  width: 88%;
  margin: 4rem 4.5rem;
  height: 78rem;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
}
#box{
   margin-left: -52rem;
   margin-top: 5rem;
}
#date_time{
	margin-right: -2rem;
	background-color: black;
	color: white;
	padding: 3rem;
	margin-left: 56rem;
	border-radius: 2px;
}
#time{
	margin-left: 0rem;
}
#event{
	padding-left: 1rem;
}
#event_list{
	background-color: black;
	margin-bottom: 1rem;
	color: white;
	width: 46rem;
	height: 4rem;
	border-radius: 2px;
	text-align: left;
	cursor: pointer;
}

.rb-grid {
	list-style: none;
	text-align: center;
	margin: 0 auto;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    color: black;
}

.modal-body {
	padding: 2px 16px;
    color: black;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.rb-grid li {
	width: 24%;
	height: 15em;
	margin: 0.5%;
	background: #8CC7DF;
	color: #fff;
	display: block;
	float: left;
	padding: 1.6em;
	cursor: pointer;
	position: relative;
}

.rb-grid li.rb-span-2 {
	width: 49%;
}

.rb-grid li.rb-span-4 {
	width: 99%;
}

.rb-grid li h3 {
	font-size: 2.6em;
	font-weight: 600;
}

.rb-grid li[class^="icon-"]:before,
.rb-grid li[class*=" icon-"]:before {
	font-size: 10em;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	line-height: 3;
	opacity: 0.4;
	text-align: right;
	pointer-events: none;
}


.rb-overlay {
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #444;
	-webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease, clip 0.4s ease;
	-moz-transition: opacity 0.4s ease, -moz-transform 0.4s ease, clip 0.4s ease;
	transition: opacity 0.4s ease, transform 0.4s ease, clip 0.4s ease;
	z-index: -1;
	pointer-events: none;
	cursor: default;
	overflow-y: auto;
}

.rb-close {
	position: absolute;
	top: 0.4em;
	right: 0.4em;
	width: 2em;
	height: 2em;
	text-indent: -9000px;
	cursor: pointer;
	z-index: 1000;
}

.rb-close::before {
	content: 'x';
	font-weight: 100;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 3em;
	line-height: 0.6;
	text-align: center;
	text-indent: 0px;
}


/* Colors */

/* Grid */
.rb-grid li:nth-child(1) { background: #3399CC; }
.rb-grid li:nth-child(2) { background: #33CCCC; }
.rb-grid li:nth-child(3) { background: #996699; }
.rb-grid li:nth-child(4) { background: #C24747; }
.rb-grid li:nth-child(5) { background: #e2674a; }
.rb-grid li:nth-child(6) { background: #FFCC66; }
.rb-grid li:nth-child(7) { background: #99CC99; }
.rb-grid li:nth-child(8) { background: #669999; }
.rb-grid li:nth-child(9) { background: #CC6699; }
.rb-grid li:nth-child(10) { background: #339966; }
.rb-grid li:nth-child(11) { background: #666699; }


@media screen and (max-width: 63.125em) {
	
	.rb-grid li,
	.rb-grid li.rb-span-2,
	.rb-grid li.rb-span-4 {
		width: 100%;
		height: 10em;
		text-align: left;
	}

	.rb-grid li[class^="icon-"]:before,
	.rb-grid li[class*=" icon-"]:before {
		font-size: 6em;
		left: auto;
		right: 0;
		line-height: 2.5;
	}

	.rb-grid li > div {
		text-align: center;
	}
}
@media(max-width: 320px){
	.jumbotron.bigBox{
		margin: 5rem 1rem;
	}
	.jumbotron.smallBox{
		margin: 4rem 1.2rem;
	}
	#date_time{
		margin-top: -3rem;
		margin-left: 53rem;
		padding: 1rem;
		width: 14%;
	}
	#event_group{
       margin-left: -3rem;
       margin-top: 2.5rem;
	}
	#event_list{
		width: 14rem;
		margin-left: -0.5rem;
	}
}
@media(max-width: 375px) and (min-width: 360px){
	.jumbotron.bigBox{
		margin: 5rem 1.2rem;
	}
	.jumbotron.smallBox{
		margin: 4rem 1.3rem;
	}
	#date_time{
		margin-top: -3rem;
		margin-left: 53rem;
		padding: 1rem;
		width: 14%;
	}
	#event_group{
       margin-left: -3rem;
       margin-top: 2.5rem;
	}
	#event_list{
		width: 16.5rem;
		margin-left: -0.5rem;
	}
}
@media(max-width: 425px) and (min-width: 410px){
	.jumbotron.bigBox{
		margin: 5rem 1.5rem;
	}
	.jumbotron.smallBox{
		margin: 4rem 1.5rem;
	}
	#date_time{
		margin-top: -3rem;
		margin-left: 53rem;
		padding: 1rem;
		width: 14%;
	}
	#event_group{
       margin-left: -3rem;
       margin-top: 2.5rem;
	}
	#event_list{
		width: 19rem;
		margin-left: -0.5rem;
	}
}
@media(max-width: 768px) and (min-width: 700px){
	.jumbotron.bigBox{
		margin: 5rem 2.5rem;
	}
	.jumbotron.smallBox{
		margin: 4rem 2.5rem;
	}
	#date_time{
		margin-top: -3rem;
		margin-left: 53rem;
		padding: 2rem;
		width: 13%;
	}
	#event_group{
       margin-left: -3rem;
       margin-top: -2.9rem;
	}
	#event_list{
		width: 27rem;
		margin-left: 4.5rem;
	}
}
@media(max-width: 1024px) and (min-width: 900px){
	.jumbotron.bigBox{
		margin: 5rem 3.5rem;
	}
	.jumbotron.smallBox{
		margin: 4rem 3.5rem;
	}
	#date_time{
		margin-top: -3rem;
		margin-left: 55rem;
		padding: 3rem;
		width: 13%;
	}
	#event_group{
       margin-left: -3rem;
       margin-top: -2.9rem;
	}
	#event_list{
		width: 35rem;
		margin-left: 2.5rem;
	}
}
